body{
    background-color: #E9E6D8;
}

@font-face {
    font-family:Rastellino;
    src: url(fonts/BuongiornoRastellino.otf);
}

.container{
    max-width: 480px;
}


.mountain{

}

.mountain img {

  }

.title{
    margin-top: 20px;
    width: 225px;
    margin-bottom: 15px;
}

.title,.title2{
    font-family: Space Mono;
    font-weight: bold;
    font-size: 36px;
    color:white;
    background:  #683200;
    margin-left: 20px;
}

.date{
    font-family: Space Mono;
    margin-bottom: 20px;
    margin-left: 20px;
    color:#683200;

}

.signature{
    
}

.fade1{
    opacity: 0; /* Start with opacity set to 0 */
    animation: fadeIn 3s forwards; /* Apply the fadeIn animation */
}
.fade2{
    opacity: 0; /* Start with opacity set to 0 */
    animation: fadeIn 3s forwards; /* Apply the fadeIn animation */
    animation-delay: 10s; /* Delay the start of the animation by 2 seconds */
   
    
}
.fade3{
    opacity: 0; /* Start with opacity set to 0 */
    animation: fadeIn 3s forwards; /* Apply the fadeIn animation */
    animation-delay: 30s; /* Delay the start of the animation by 2 seconds */
}
.fade4{
    opacity: 0; /* Start with opacity set to 0 */
    animation: fadeIn 3s forwards; /* Apply the fadeIn animation */
    animation-delay: 37s; /* Delay the start of the animation by 2 seconds */
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
.indimoc{
    font-family:Rastellino;
    font-size: 90px;
    line-height: 0.5;
    margin: 0;

}

.firstt{
    border-top: 2px solid #000000;
}

.lastt{
    border-bottom: 2px solid #000000;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-family: Space Mono;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    color: black;
    width: 50%;
}

.paragraph{
    margin-bottom: 20px;
}
.cover{
    display: flex;
    width: 50%;
    align-items: center;
    overflow: hidden;
}

.dandelions{
    width: 200px;
    height: auto;
}

.birds1{
    width: 210px;
    height: auto;
}

.sun{
    width:200px;
    object-position: center;
}

.typed-cursor {
    display: none;
}


